*{
    font-family: "Manrope", sans-serif; overflow-x: hidden;
}
body{
    padding: 0%; margin: 0%;
}
header{
    position: fixed;
}

.A:hover{
    color: #000; background-color: #868686;padding: 1.4% ;
 }
.A{
     text-decoration: none;
color: #fff;
padding-right: 4%; 
padding-left: 2%;
 }
#select{
    border: none; background-color: #000; color: #fff; font-size: large; outline: none;
}
#select:hover{
     background-color: #868686; color: #000;
    }
nav{
    background-color: black;
height: 5vh;
padding-top: 2.5vh;
width: 100vw;
}
#HOME{
background-image: url(https://www.w3schools.com/w3images/ny.jpg);
width: 100vw;
height: 100vh;
background-repeat: no-repeat;
background-size: cover;
}
#h1{
    text-align: center; margin-top: 35%; color: #fff;
}
#h1 > p{ font-weight: bold;}
#BAND{
    text-align: center; padding-top: 5%; background-color: #fff; width: 100%; height:100%;
}
#hband{
    font-family: "Manrope", sans-serif;;
}
.p{
     color: #868686; font-style: italic;
    }
#hband{
    font-family: "Manrope", sans-serif;
letter-spacing: 15px;
}
#pband{
    text-align: justify;
padding: 0% 20%;
}
.card{
    display: inline-flex;
    flex-direction: column;
    padding-top: 3%;
    padding-left: 3.5%;
    padding-right: 3.5%;
padding-bottom: 8%;
    
}
.img{
    width: 150px;
height: 150px;
border-radius: 5px;
}
#A:hover{
     background-color: #f00; padding: 1.4%;
}

.option{
    background-color: #fff; color: #000; padding: 2%;
}
#TOUR{
    background-color: #000; color: #fff; text-align: center;
}
#tour{
    color: #868686; font-style: italic;
}
#tour1{
    background-color: #f00; color: #fff;
}
.tour{
    background-color: #fff; color: #000; width: 49%; padding: 1%; text-align: center; margin: 1% auto; text-align: left; display: flexbox;
}
#tourcard{
    display: inline-flex; margin-left: 23.5%; margin-bottom: 8%;
}
.tourcard1{
    border: 1px;  border-color:#000;
padding-top: 3%;
width: 18%;
padding-left: 0%;
padding-right: 0%;
background-color: #fff;
color: #000;
padding-top: 0%;
padding-bottom: 3%;
text-align: left;
margin-left: 1%;




}
.img1{height: 25vh; width: 30vw;  }
.img1:hover{opacity:0.8;}
.spantour { margin-left: 3%; color: #868686;}
.spantour + p{ margin-left: 3%;}
button {background-color: #000; color: #fff;  border: none; margin-left: 3%; padding: 5%; font-weight: bold;}
.tourcard1 > h3{margin-left: 3%;}

#contactchild {text-align:center; margin-top: 5%; }
#CONTACT{
    margin-bottom:  0%;

}
#contact{ color: #868686; font-style: italic; text-align: center; display: block;}
.icon1{
    margin-left: 25% ;
    
}
#pre{
    margin-top: 5%;

}
#form{
    margin-left: 50%;
  
    
}
input{ margin-bottom: 1%; padding: 2%; width: 20%; 
}
#message{
    display: block;
    width: 45.5%;
}
#submit{
    background-color: #000; color: #fff; font-weight: bold; border: none; outline: none; margin-left: 41.5%; width:max-content;
}
#picture{
    background-image: url(https://www.w3schools.com/w3images/map.jpg);
    width: 100vw;
    height: 100vh;
}
footer{
    text-align: center;
    color: #535353;
    font-size: larger;
    margin: 4% 0%;
}
#footer{
    color: #535353;
}